*{border: 0px;
margin: 0px;
box-sizing: 0px
;}
.guest{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: -20px;
    display: flex; 
    border:1px px solid rgb(185, 185, 185);
    background-color: rgb(185, 185, 185);
   
    
}

.guest-cards{ 

    display: flex; 
    border:1px px solid rgb(185, 185, 185);
    background-color: rgb(185, 185, 185);
    margin: 2px;
    padding: 20px;
}
    .eve{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        margin-bottom: -20px;
        display: flex; 
       
       
        
    }